@charset "UTF-8";
/******************************************************************
Site Name:
Author:

Stylesheet: TinyMCE Editor

This stylesheet is loaded automatically by Wordpress when compiled
and placed in the root theme directory folder as editor-style.css

For more info, check out the codex:
http://codex.wordpress.org/Editor_Style

******************************************************************/
/* Wrap the entire post style inside the TinyMCE selector, as suggested
here http://codex.wordpress.org/Function_Reference/add_editor_style */
/* line 20, ../scss/editor-style.scss */
body#tinymce.wp-editor {
  /*! http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) |&&| normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css |&&| html5doctor.com Reset Stylesheet v1.6.1 | Last Updated: 2010-09-17 | Author: Richard Clark - http://richclarkdesign.com | Twitter: @rich_clark *** Merged and trimmed to keep the best from both by Daniele O'rlmente?! Messa */
  /* Typography - @begin */
  /* Typography - @end */
  /*********************
  COLOR FUNCTIONS
  These are helpful when you're working
  with shadows and such things. It's essentially
  a quicker way to write RGBA.
  
  Example:
  box-shadow: 0 0 4px black(0.3);
  compiles to:
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  *********************/
  /*********************
  RESPONSIVE HELPER FUNCTION
  If you're creating a responsive site, then
  you've probably already read
  Responsive Web Design: http://www.abookapart.com/products/responsive-web-design
  
  Here's a nice little helper function for calculating
  target / context
  as mentioned in that book.
  
  Example:
  width: cp(650px, 1000px);
  or
  width: calc-percent(650px, 1000px);
  both compile to:
  width: 65%;
  *********************/
  width: 731px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #5c6b80;
  -webkit-font-smoothing: antialiased;
  /*********************
  LINK STYLES
  *********************/
  /******************************************************************
  H1, H2, H3, H4, H5 STYLES
  ******************************************************************/
  padding: 1.5em 1.5em 0;
  /*********************
  LARGER MOBILE DEVICES
  This is for devices like the Galaxy Note or something that's
  larger than an iPhone but smaller than a tablet. Let's call them
  tweeners.
  *********************/
}
/* line 4, ../scss/utils/_reset.scss */
body#tinymce.wp-editor html, body#tinymce.wp-editor body, body#tinymce.wp-editor div, body#tinymce.wp-editor span, body#tinymce.wp-editor applet, body#tinymce.wp-editor object, body#tinymce.wp-editor iframe,
body#tinymce.wp-editor h1, body#tinymce.wp-editor h2, body#tinymce.wp-editor h3, body#tinymce.wp-editor h4, body#tinymce.wp-editor h5, body#tinymce.wp-editor h6, body#tinymce.wp-editor p, body#tinymce.wp-editor blockquote, body#tinymce.wp-editor pre,
body#tinymce.wp-editor a, body#tinymce.wp-editor abbr, body#tinymce.wp-editor acronym, body#tinymce.wp-editor address, body#tinymce.wp-editor big, body#tinymce.wp-editor cite, body#tinymce.wp-editor code,
body#tinymce.wp-editor del, body#tinymce.wp-editor dfn, body#tinymce.wp-editor em, body#tinymce.wp-editor img, body#tinymce.wp-editor ins, body#tinymce.wp-editor kbd, body#tinymce.wp-editor q, body#tinymce.wp-editor s, body#tinymce.wp-editor samp,
body#tinymce.wp-editor small, body#tinymce.wp-editor strike, body#tinymce.wp-editor strong, body#tinymce.wp-editor sub, body#tinymce.wp-editor sup, body#tinymce.wp-editor tt, body#tinymce.wp-editor var,
body#tinymce.wp-editor b, body#tinymce.wp-editor u, body#tinymce.wp-editor i, body#tinymce.wp-editor center,
body#tinymce.wp-editor dl, body#tinymce.wp-editor dt, body#tinymce.wp-editor dd, body#tinymce.wp-editor ol, body#tinymce.wp-editor ul, body#tinymce.wp-editor li,
body#tinymce.wp-editor fieldset, body#tinymce.wp-editor form, body#tinymce.wp-editor label, body#tinymce.wp-editor legend,
body#tinymce.wp-editor table, body#tinymce.wp-editor caption, body#tinymce.wp-editor tbody, body#tinymce.wp-editor tfoot, body#tinymce.wp-editor thead, body#tinymce.wp-editor tr, body#tinymce.wp-editor th, body#tinymce.wp-editor td,
body#tinymce.wp-editor article, body#tinymce.wp-editor aside, body#tinymce.wp-editor canvas, body#tinymce.wp-editor details, body#tinymce.wp-editor embed,
body#tinymce.wp-editor figure, body#tinymce.wp-editor figcaption, body#tinymce.wp-editor footer, body#tinymce.wp-editor header, body#tinymce.wp-editor hgroup,
body#tinymce.wp-editor menu, body#tinymce.wp-editor nav, body#tinymce.wp-editor output, body#tinymce.wp-editor ruby, body#tinymce.wp-editor section, body#tinymce.wp-editor summary,
body#tinymce.wp-editor time, body#tinymce.wp-editor mark, body#tinymce.wp-editor audio, body#tinymce.wp-editor video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* line 26, ../scss/utils/_reset.scss */
body#tinymce.wp-editor html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
/* line 36, ../scss/utils/_reset.scss */
body#tinymce.wp-editor article,
body#tinymce.wp-editor aside,
body#tinymce.wp-editor details,
body#tinymce.wp-editor figcaption,
body#tinymce.wp-editor figure,
body#tinymce.wp-editor footer,
body#tinymce.wp-editor header,
body#tinymce.wp-editor hgroup,
body#tinymce.wp-editor main,
body#tinymce.wp-editor menu,
body#tinymce.wp-editor nav,
body#tinymce.wp-editor section,
body#tinymce.wp-editor summary {
  display: block;
}
/* line 53, ../scss/utils/_reset.scss */
body#tinymce.wp-editor audio,
body#tinymce.wp-editor canvas,
body#tinymce.wp-editor progress,
body#tinymce.wp-editor video {
  display: inline-block;
}
/* line 59, ../scss/utils/_reset.scss */
body#tinymce.wp-editor progress {
  vertical-align: baseline;
}
/* line 64, ../scss/utils/_reset.scss */
body#tinymce.wp-editor audio:not([controls]) {
  display: none;
  height: 0;
}
/* line 70, ../scss/utils/_reset.scss */
body#tinymce.wp-editor [hidden],
body#tinymce.wp-editor template {
  display: none;
}
/* line 76, ../scss/utils/_reset.scss */
body#tinymce.wp-editor body {
  line-height: 1;
}
/* line 81, ../scss/utils/_reset.scss */
body#tinymce.wp-editor ol, body#tinymce.wp-editor ul {
  list-style: none;
}
/* line 86, ../scss/utils/_reset.scss */
body#tinymce.wp-editor blockquote, body#tinymce.wp-editor q {
  quotes: none;
}
/* line 89, ../scss/utils/_reset.scss */
body#tinymce.wp-editor blockquote:before, body#tinymce.wp-editor blockquote:after,
body#tinymce.wp-editor q:before, body#tinymce.wp-editor q:after {
  content: '';
  content: none;
}
/* line 96, ../scss/utils/_reset.scss */
body#tinymce.wp-editor table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 102, ../scss/utils/_reset.scss */
body#tinymce.wp-editor a {
  background-color: transparent;
}
/* line 107, ../scss/utils/_reset.scss */
body#tinymce.wp-editor a:focus,
body#tinymce.wp-editor a:active,
body#tinymce.wp-editor a:hover {
  outline: 0;
}
/* line 114, ../scss/utils/_reset.scss */
body#tinymce.wp-editor abbr[title],
body#tinymce.wp-editor dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
/* line 121, ../scss/utils/_reset.scss */
body#tinymce.wp-editor b,
body#tinymce.wp-editor mark,
body#tinymce.wp-editor strong {
  font-weight: bold;
}
/* line 128, ../scss/utils/_reset.scss */
body#tinymce.wp-editor i,
body#tinymce.wp-editor em,
body#tinymce.wp-editor dfn,
body#tinymce.wp-editor mark {
  font-style: italic;
}
/* line 136, ../scss/utils/_reset.scss */
body#tinymce.wp-editor del {
  text-decoration: line-through;
}
/* line 141, ../scss/utils/_reset.scss */
body#tinymce.wp-editor small {
  font-size: 80%;
}
/* line 146, ../scss/utils/_reset.scss */
body#tinymce.wp-editor sub,
body#tinymce.wp-editor sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
/* line 153, ../scss/utils/_reset.scss */
body#tinymce.wp-editor sup {
  top: -0.5em;
}
/* line 156, ../scss/utils/_reset.scss */
body#tinymce.wp-editor sub {
  bottom: -0.25em;
}
/* line 162, ../scss/utils/_reset.scss */
body#tinymce.wp-editor img {
  -ms-interpolation-mode: bicubic;
}
/* line 167, ../scss/utils/_reset.scss */
body#tinymce.wp-editor svg:not(:root) {
  overflow: hidden;
}
/* line 172, ../scss/utils/_reset.scss */
body#tinymce.wp-editor hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/* line 182, ../scss/utils/_reset.scss */
body#tinymce.wp-editor pre {
  overflow: auto;
}
/* line 188, ../scss/utils/_reset.scss */
body#tinymce.wp-editor code,
body#tinymce.wp-editor kbd,
body#tinymce.wp-editor pre,
body#tinymce.wp-editor samp {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace, monospace;
  font-size: 1em;
}
/* line 200, ../scss/utils/_reset.scss */
body#tinymce.wp-editor optgroup {
  font-weight: bold;
}
/* line 206, ../scss/utils/_reset.scss */
body#tinymce.wp-editor button[disabled],
body#tinymce.wp-editor input[disabled] {
  cursor: default;
}
/* line 3, ../scss/fonts/_typography.scss */
body#tinymce.wp-editor .font-sans {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}
/* line 6, ../scss/fonts/_typography.scss */
body#tinymce.wp-editor .font-serif {
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
}
/* line 9, ../scss/fonts/_typography.scss */
body#tinymce.wp-editor .font-mono {
  font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
}
/* line 12, ../scss/fonts/_typography.scss */
body#tinymce.wp-editor .font-icon {
  font-family: "FontAwesome";
}
/* line 16, ../scss/fonts/_typography.scss */
body#tinymce.wp-editor .icon {
  position: relative;
  display: inline-block;
  height: 1.4rem;
  width: 1.4rem;
  overflow: hidden;
}
/* line 23, ../scss/fonts/_typography.scss */
body#tinymce.wp-editor .icon:before {
  content: "";
  display: inline-block;
  text-align: center;
  font-family: "FontAwesome";
}
/* line 30, ../scss/fonts/_typography.scss */
body#tinymce.wp-editor .icon-label {
  display: inherit;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}
/* line 41, ../scss/fonts/_typography.scss */
body#tinymce.wp-editor .icon-star:before {
  content: "";
}
/* line 42, ../scss/editor-style.scss */
body#tinymce.wp-editor a, body#tinymce.wp-editor a:visited {
  color: #f01d4f;
  /* on hover */
  /* on click */
}
/* line 46, ../scss/editor-style.scss */
body#tinymce.wp-editor a:hover, body#tinymce.wp-editor a:focus, body#tinymce.wp-editor a:visited:hover, body#tinymce.wp-editor a:visited:focus {
  color: #d10e3c;
}
/* line 55, ../scss/editor-style.scss */
body#tinymce.wp-editor a:link, body#tinymce.wp-editor a:visited:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
/* line 65, ../scss/editor-style.scss */
body#tinymce.wp-editor h1, body#tinymce.wp-editor .h1, body#tinymce.wp-editor h2, body#tinymce.wp-editor .h2, body#tinymce.wp-editor h3, body#tinymce.wp-editor .h3, body#tinymce.wp-editor h4, body#tinymce.wp-editor .h4, body#tinymce.wp-editor h5, body#tinymce.wp-editor .h5 {
  text-rendering: optimizelegibility;
  font-weight: 500;
}
/* line 68, ../scss/editor-style.scss */
body#tinymce.wp-editor h1 a, body#tinymce.wp-editor .h1 a, body#tinymce.wp-editor h2 a, body#tinymce.wp-editor .h2 a, body#tinymce.wp-editor h3 a, body#tinymce.wp-editor .h3 a, body#tinymce.wp-editor h4 a, body#tinymce.wp-editor .h4 a, body#tinymce.wp-editor h5 a, body#tinymce.wp-editor .h5 a {
  text-decoration: none;
}
/* line 73, ../scss/editor-style.scss */
body#tinymce.wp-editor h1, body#tinymce.wp-editor .h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}
/* line 78, ../scss/editor-style.scss */
body#tinymce.wp-editor h2, body#tinymce.wp-editor .h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
}
/* line 84, ../scss/editor-style.scss */
body#tinymce.wp-editor h3, body#tinymce.wp-editor .h3 {
  font-size: 1.125em;
}
/* line 88, ../scss/editor-style.scss */
body#tinymce.wp-editor h4, body#tinymce.wp-editor .h4 {
  font-size: 1.1em;
  font-weight: 700;
}
/* line 93, ../scss/editor-style.scss */
body#tinymce.wp-editor h5, body#tinymce.wp-editor .h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 102, ../scss/editor-style.scss */
body#tinymce.wp-editor p {
  margin: 0 0 1.5em;
}
/* line 106, ../scss/editor-style.scss */
body#tinymce.wp-editor table {
  width: 100%;
  border: 1px solid #eaedf2;
  margin-bottom: 1.5em;
}
/* line 111, ../scss/editor-style.scss */
body#tinymce.wp-editor table caption {
  margin: 0 0 7px;
  font-size: 0.75em;
  color: #9fa6b4;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 120, ../scss/editor-style.scss */
body#tinymce.wp-editor tr {
  border-bottom: 1px solid #eaedf2;
}
/* line 122, ../scss/editor-style.scss */
body#tinymce.wp-editor tr:nth-child(even) {
  background-color: #f8f9fa;
}
/* line 127, ../scss/editor-style.scss */
body#tinymce.wp-editor td {
  padding: 7px;
  border-right: 1px solid #eaedf2;
}
/* line 131, ../scss/editor-style.scss */
body#tinymce.wp-editor td:last-child {
  border-right: 0;
}
/* line 136, ../scss/editor-style.scss */
body#tinymce.wp-editor th {
  background-color: #f8f9fa;
  border-bottom: 1px solid #eaedf2;
  border-right: 1px solid #eaedf2;
}
/* line 141, ../scss/editor-style.scss */
body#tinymce.wp-editor th:last-child {
  border-right: 0;
}
/* line 146, ../scss/editor-style.scss */
body#tinymce.wp-editor blockquote {
  margin: 0 0 1.5em 0.75em;
  padding: 0 0 0 0.75em;
  border-left: 3px solid #2980b9;
  font-style: italic;
  color: #9fa6b4;
}
/* line 157, ../scss/editor-style.scss */
body#tinymce.wp-editor dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}
/* line 164, ../scss/editor-style.scss */
body#tinymce.wp-editor img {
  margin: 0 0 1.5em 0;
  max-width: 100%;
  height: auto;
}
/* line 170, ../scss/editor-style.scss */
body#tinymce.wp-editor .size-auto,
body#tinymce.wp-editor .size-full,
body#tinymce.wp-editor .size-large,
body#tinymce.wp-editor .size-medium,
body#tinymce.wp-editor .size-thumbnail {
  max-width: 100%;
  height: auto;
}
/* line 179, ../scss/editor-style.scss */
body#tinymce.wp-editor pre {
  background: #000;
  color: #f8f9fa;
  font-size: 0.9em;
  padding: 1.5em;
  margin: 0 0 1.5em;
  border-radius: 3px;
}
@media only screen and (min-width: 481px) {
  /* line 20, ../scss/editor-style.scss */
  body#tinymce.wp-editor {
    /* at this larger size, we can start to align images */
  }
  /* line 197, ../scss/editor-style.scss */
  body#tinymce.wp-editor .alignleft, body#tinymce.wp-editor img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }
  /* line 202, ../scss/editor-style.scss */
  body#tinymce.wp-editor .alignright, body#tinymce.wp-editor img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
  }
  /* line 207, ../scss/editor-style.scss */
  body#tinymce.wp-editor .aligncenter, body#tinymce.wp-editor img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }
}
