/* Grid System - @begin */

$gutter: 1rem;

// using a mixin since we can't use placeholder selectors
@mixin grid-col($padding: $gutter) {
    margin-left: 0;
    margin-right: 0;
    padding-left: $padding;
    padding-right: $padding;

    @include flex-basis(auto);
    @include flex-grow(0);
    @include flex-shrink(0);

    // ie9 alternative
    .ie9 & {
        float: left;
    }
}

// Still to choose a proper name between
// generic one (columns) or specific (columns-adjust)
.columns {
    @include display(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include align-items(flex-start);
    @include justify-content(flex-start);
    @include align-content(flex-start);



    // No ie9 compatibility
    &.columns-center {
        @include justify-content(center);
    }

    // No ie9 compatibility
    &.columns-middle {
        @include flex-wrap(nowrap);
        @include align-items(center);
    }
    // No ie9 compatibility
    &.columns-stretch {
        @include flex-wrap(nowrap);
        @include align-items(stretch);
    }


    // ie9 alternative
    .ie9 & {
        margin-left: -1*$gutter !important;
        margin-right: -1*$gutter !important;

        & .columns {
            margin-right: 0 !important;
        }
    }
}

.column {
    @include grid-col;
}
.column-no-pad {
    @include grid-col(0 !important);
}

.column-no-pad-left{padding-left: 0;}

// the last column
.last-col {
    margin-left: auto !important;

    // ie9 alternative
    .ie9 & {
        float: right;
        padding-right: 0 !important;
    }
}

.hidden-sm, .hidden-xs{display:none}




// columns
$cols-1-4: 1 1, 2 1, 3 1, 3 2, 4 1, 4 3;
$cols-5: 5 1, 5 2, 5 3, 5 4;
$cols-6: 6 1, 6 5;
$cols-7: 7 1, 7 2, 7 3, 7 4, 7 5, 7 6;
$cols-8: 8 1, 8 3, 8 5, 8 7;
$cols-9-11: 9 1, 9 5, 9 4, 10 1, 11 1;
$cols-12: 12 1, 12 5, 12 7, 12 10, 12 11;
$cols-14: 14 1, 14 3, 14 5, 14 9, 14 11, 14 13;
$cols-16: 16 1, 16 3, 16 5, 16 7, 16 9, 16 10, 16 11, 16 13, 16 15;

// mobile
$cols-m: join($cols-1-4, $cols-5);
$cols-m: join($cols-m, $cols-6);

// phablet
$cols-p: join($cols-1-4, $cols-5);
$cols-p: join($cols-p, $cols-6);
$cols-p: join($cols-p, $cols-7);
$cols-p: join($cols-p, $cols-8);

// tablet
$cols-t: join($cols-1-4, $cols-5);
$cols-t: join($cols-t, $cols-5);
$cols-t: join($cols-t, $cols-6);
$cols-t: join($cols-t, $cols-7);
$cols-t: join($cols-t, $cols-8);
$cols-t: join($cols-t, $cols-9-11);
$cols-t: join($cols-t, $cols-12);

// desktop
$cols-d: join($cols-1-4, $cols-5);
$cols-d: join($cols-d, $cols-6);
$cols-d: join($cols-d, $cols-7);
$cols-d: join($cols-d, $cols-8);
$cols-d: join($cols-d, $cols-9-11);
$cols-d: join($cols-d, $cols-12);
$cols-d: join($cols-d, $cols-14);
$cols-d: join($cols-d, $cols-16);

// grids
$grids: (
    'm': 'all' (
        $cols-m
    ),
    'p': '(min-width: 415px) and (max-width: 767px)' (
        $cols-p
    ),
    't': '(min-width: 768px) and (max-width: 1023px)' (
        $cols-t
    ),
    'd': '(min-width: 1024px)' (
        $cols-d
    )
);

@each $name, $columns in $grids {
    $media: nth( $columns, 1 );
    $sizes: nth( $columns, 2 );
    @if ( $media != '' ) {
        @media #{unquote( $media )} {
            @each $cell in $sizes {
                $total: nth( $cell, 1 );
                $partial: nth( $cell, 2 );
                $desc: #{$partial}of#{$total};
                @if ( $partial == $total ) {
                    $desc: 'all';
                }
                .#{$name}-#{$desc} {
                    // @include grid-col;
                    width: percentage($partial / $total);
                }
                .#{$name}-push-#{$partial}of#{$total}.#{$name}-push-#{$partial}of#{$total} {
                    margin-left: percentage($partial / $total);
                }
                .#{$name}-pull-#{$partial}of#{$total}.#{$name}-pull-#{$partial}of#{$total} {
                    margin-left: auto;
                    margin-right: percentage($partial / $total);
                }
            }
        }
    }
}

/* Grid System - @end */
