/* ClearFix - @begin */
.cf {
    @include btcf;
}
/* ClearFix - @end */

/* Floats - @begin */
.to-left {
    @include to-left;
}
.to-right {
    @include to-right;
}
/* Floats - @end */

/* Centering - @begin */
.center {
    @include horizontal-center;
}
.middle {
    @include vertical-center;
}
.centered {
    @include total-center;
}
.absolute-center {
    @include horizontal-center(absolute);
}
.absolute-middle {
    @include vertical-center(absolute);
}
.absolute-centered {
    @include total-center(absolute);
}
/* Centering - @end */

/* Sizing - @begin */
.full {
    width: 100%;
}
.half {
    width: 50%;
}
.one-third {
    width: 33.33%;
    &:first-child {
        width: 33.34%;
    }
}
.two-third {
    width: 66%;
}
.one-fourth {
    width: 25%;
}
.three-fourth {
    width: 75%;
}
.one-fifth {
    width: 20%;
}
/* Sizing - @end */

/* Ratios - @begin */
.ratio {
    @include ratio;
}
@include ratios(1,1);
@include ratios(2,1);
@include ratios(3,2);
@include ratios(4,3);
@include ratios(16,9);
@include ratios(16,10);
@include ratios(1,2);

/* Ratios - @end */

.debug {
    border: 1px dashed red;
    background-color: rgba( 0,0,0, .2 );
    // padding: 0.2em;

    .debug {
        border-color: blue;

        .debug {
            border-color: green;

            .debug {
                border-color: orange;

                .debug {
                    border-color: pink;
                }
            }
        }
    }
}
