/* Footer - @begin */
footer{
	margin-top:$pad*10;
	color: $white;
	
	a, a:visited{
		color: $white;
	}
}

.footer-logo{
	margin-bottom: $pad*2;
	display: inline-block;

	img{
		display: block;
		width: 100%;
		max-width: 170px;
		line-height: 0;
	}
}

.footer-primary-level{
	background-color: $blue;
	padding:$pad*5 0 $pad*4;
	font-size: 1.2rem;
	line-height: 1.8rem;
}
.footer-secondary-level{
	background-color: $red;
	padding:$pad 0;
	font-size: 1.2rem;

	a:hover{
		color: $white;
		text-decoration: none;
	}
}

.footer-primary-level-social-top, .footer-primary-level-newsletter-social{
	display: none;
}

.social-footer{
	font-size:2rem;
}

input[type='email'].newsletter-field{
	width: 60%;
	border: 2px solid $light-blue;
}
input[type='submit'].newsletter-sub-btn{
	background: url('../images/mail.png') no-repeat center;
	background-size: 35px;
}
 
.footer-primary-level-links {

    li {
    	list-style: none;
    	margin-bottom: 0;
    }

    // highlight current page
    .current-menu-item{
        a {
            color: $red;
        }
    }
} 


/* Footer - @end */
