/* Header - @begin */

.main-logo{
	margin-bottom: 0;

	img{
		display: block;
		width: 100%;
		max-width: 200px;
		line-height: 0;
	}
}

.header-secondary-level{
	background-color: $blue;
	color: $white;
	padding: $pad 0;
	
	a, a:visited{
		color: $white;
		text-decoration: none;
	}
}
.header-secondary-level-links{
	display: none;
}
.header-secondary-level-icons{
	text-align: center;
	
	a:hover span{
		color: $red;
	} 
	.icon{
		line-height: 17px;
		margin-left:5px;
	}
}


.header-primary-level{
    background-color: $light-grey;
    padding: $pad 0;
}
.header-primary-level-main-menu{
	display: none;
}


.header-primary-level-mobile-menu-button a{
	font-size: 3rem;
	color: $red;
}


.s2k-fixed-visible{
    display: none;
}



/* Header - @end */
