/* Navigations - @begin */

.main-navigation {
    padding-top: $pad*2;

    li {
        display: inline-block;
        margin-bottom: 0;
        list-style-type: none;
        padding-right: $pad*2;
        max-width: $pad*15;
        vertical-align: top;
        margin-left: 0;

        a {
            display: block;
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    // highlight current page
    .current-menu-item{
        a {
            color: $red;
        }
    }
}

.main-navigation-login{
    li{
        padding-right: $pad*4;
        max-width: none;
    }
}


/* Navigations - @end */
