/* Setup - @begin */

html {
    box-sizing: border-box;

    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;

    // 1rem === 10px 
    font-size: 62.5%;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: $lato;
    font-size: $mobile-font-size;
    line-height: 2rem;
    color: $text-color;
    background-color: $white;

    &:not(input) {
        // enabling fancy ligatures when available
        -webkit-font-feature-settings: "liga", "dlig";
           -moz-font-feature-settings: "liga=1, dlig=1";
            -ms-font-feature-settings: "liga", "dlig";
             -o-font-feature-settings: "liga", "dlig";
                font-feature-settings: "liga", "dlig";
    }
}

// Headings
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: $lato;
    margin: 0 auto $pad-module;
    line-height: normal;
    font-weight: $roman;
    color: $blue;
    text-rendering: optimizelegibility;

    a {
        text-decoration: none;
    }
}
h1, .h1 {
    font-size: $mobile-font-size*2;
}
h2, .h2 {
    font-size: $mobile-font-size*1.8;
}
h3, .h3 {
    font-size: $mobile-font-size*1.5;
}
h4, .h4 {
    font-size: $mobile-font-size;
}
h5, .h5 {
    font-size: $mobile-font-size*0.9;
}
h6, .h6 {
    font-size: $mobile-font-size*0.8;
}

// Lists
ol {
    list-style: inside decimal;

}
ul {
    list-style: outside disc;
}
ol,
ul {
    //margin: $pad-module auto;
}
ol ol,
ul ul,
ol ul,
ul ol {
    margin-left: $pad-module*3;
    font-size: 90%;
}
ol ol,
ul ol {
    list-style-type: upper-roman;
}
ol ul,
ul ul {
    list-style-type: square;
}
li {
    margin: 0 auto $pad-module;
    margin-left: 15px;
}

// Links
a,
button {
    color: inherit;
}

a, a:visited {
    color: $blue;

    // on hover
    &:hover, &:focus {
        color: $red;
    }

    // on click
    &:active {}

    // mobile tap color
    &:link {
        -webkit-tap-highlight-color : rgba( 0, 0, 0, 0 );
    }
}

a.red-link, a.red-link:visited{
    color: $red;

    // on hover
    &:hover, &:focus {
        color: $blue;
    }
}


//HR
hr{
    border: 0;
    background-color: $red;
    height: 3px;
}


// Images
img {
    max-width: 100%;
    height: auto;

    &.vertical-image {
        max-height: 100%;
        width: auto;
    }
}


// Texts hyphenation
p,
span,
blockquote {
    // limit the scope for these rules like I did for inputs
    // if you notice something weird in text renderings

    -ms-word-wrap: break-word;
        word-wrap: break-word;
       word-break: break-word; //non-standart css for webkit

    // cleaning up the ragged lines and breaks
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;

    // sets a minimum number of characters before and after the break
    -webkit-hyphenate-before: 2;
     -webkit-hyphenate-after: 3;
             hyphenate-lines: 3;
}


//COLORS
.light-blue{color: $light-blue;} 
.red{color: $red;} 
.blue{color: $blue;} 
.light-grey2{color:$light-grey2;}

//BACKGROUND COLORS
.light-blue-bg{background-color: $light-blue;}
.light-grey-bg{background-color: $light-grey;}

//GENERAL
.italic{font-style: italic;}
.strong, .bold{font-weight: bold;}
.uppercase{text-transform: uppercase;}


// SPACERS
.spaceT5{padding-top:5px;}
.spaceT10{padding-top:10px;}
.spaceT20{padding-top:20px;}
.spaceT30{padding-top:30px;}
.spaceT40{padding-top:40px;}
.spaceT50{padding-top:50px;}
.spaceB5{padding-bottom:5px;}
.spaceB10{padding-bottom:10px;}
.spaceB20{padding-bottom:20px;}
.spaceB30{padding-bottom:30px;}
.spaceT40{padding-bottom:40px;}
.spaceB50{padding-bottom:50px;}
.spaceTB5{padding-top:5px; padding-bottom:5px;}
.spaceTB10{padding-top:10px; padding-bottom:10px;}
.spaceTB20{padding-top:20px; padding-bottom:20px;}
.spaceTB30{padding-top:30px; padding-bottom:30px;}
.spaceTB40{padding-top:40px; padding-bottom:40px;}
.spaceTB50{padding-top:50px; padding-bottom:50px;}
.space10{padding:10px;}
.space15{padding:15px;}
.space20{padding:20px;}
.space30{padding:30px;}
.space40{padding:40px;}
.space50{padding:50px;}
.spaceL5{padding-left:5px;}
.spaceL10{padding-left:10px;}
.spaceL20{padding-left:20px;}
.spaceR5{padding-right:5px;}
.spaceR10{padding-right:10px;}
.spaceR20{padding-right:20px;}



//LIGHTBOX STYLE
.s2k-lightbox{
    display: none;
    max-width: 300px;
    background: $light-blue;
    color: $blue;
    @include border-radius($pad);
    overflow: visible;

    .fancybox-close-small{
        background: $blue;
        color: $white;
        left: -15px;
        top: -15px;
        &:focus, &:hover, &:active{
            outline: 0 none;
        }
    }
}





/* Setup - @end */
