// 1023up - ipad landsacpe

/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
	width: 96%;
	margin: 0 auto;
}

.hidden-sm, .hidden-xs{display:block}


/*********************
HEADER
*********************/
.header-primary-level-main-menu{
	display: block;
}
.header-primary-level-mobile-menu-button{
	display: none;
}


/*********************
FOOTER
*********************/
.footer-primary-level{
	padding:$pad*5 0 $pad*4;
	font-size: 1.4rem;
	line-height: 2.4rem;
}
.footer-primary-level-newsletter-top, .footer-primary-level-social-top{
	display: none;
}
.footer-primary-level-newsletter-social{
	display: block;
}