// 1030up - desktop

/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
	width: 1024px;
	margin: 0 auto;
}


/*********************
HEADER
*********************/
.header-primary-level-login{
	padding-top: $pad;
}


.fixed-menu{ 
    z-index: 9999; 
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 100%;
    background: #fff;
    display: none;

    .header-secondary-level{
        padding: 3px 0;
        .wrap{display:none;}
    } 
    .main-navigation{padding-top:10px;}
    .s2k-fixed-hidden{
        display: none;
    }
    .s2k-fixed-visible{
        display: block;
    }

    .header-secondary-level-links-fixed{
        padding: $pad 0;
        ul{border-left: 3px solid $blue;}
        li{
            list-style-type: none;
            display: inline;
        }
        a, a:visited{
            text-decoration: none;
        }
    }
} 







/*********************
FOOTER
*********************/
.footer-primary-level-newsletter-top, .footer-primary-level-social-top{
	display: none;
}
.footer-primary-level-newsletter-social{
	display: block;
}



