//768up - ipad portrait

/*********************
VARIABLES REDEFINITION
*********************/
body {
    font-family: $lato;
    font-size: $base-font-size;
    line-height: 2.5rem;
}

h1, .h1 {
    font-size: $base-font-size*2.5;
}
h2, .h2 {
    font-size: $base-font-size*2;
}
h3, .h3 {
    font-size: $base-font-size*1.8;
}
h4, .h4 {
    font-size: $base-font-size*1.5;
}
h5, .h5 {
    font-size: $base-font-size;
}
h6, .h6 {
    font-size: $base-font-size*0.9;
}



/*********************
HEADER
*********************/
.header-secondary-level-links{
	display: block; 

	li {
        display: inline-block;
        margin-bottom: 0;
        list-style-type: none;
        padding-right: $pad*3;

        a {
            display: block;
            text-decoration: none;
            font-size: 1.6rem;
        	
        	&:hover{
        		color: $red;
        	}
        }
    }

    // highlight current page
    .current-menu-item{
        a {
            color: $red;
        }
    }
}
.header-secondary-level-icons{
	text-align: right;
}



/* fixed top */
#header{
    -webkit-box-shadow: 0 3px 4px -4px #6f7071;
    -moz-box-shadow: 0 3px 4px -4px #6f7071;
    box-shadow: 0 3px 4px -4px #6f7071;
}
.s2k-fixed-hidden{
    display: block;
}
.s2k-fixed-visible{
    display: none;
}






/*********************
FOOTER
*********************/
.footer-primary-level{
	padding:$pad*4 0 $pad*3;
	font-size: 1.3rem;
	line-height: 2.4rem;
}
.footer-primary-level-social-top{
	display: block;
}
.footer-primary-level-newsletter-social{
	display: none;
}


/*********************
HOMEPAGE
*********************/
.home-video iframe{
	height: 400px;
}
.home-plus-container{
	text-align: center;
}
.home-plus-img{
	min-height: 130px;
}
.home-plus-text p{
	min-height: 90px;
}


/*********************
AUTHENTICATION
*********************/
.auth-intro{
    min-height: 150px;
}



/*********************
WHY - EXPLANATION
*********************/
.why-text{
    min-height: 130px;
}

/*********************
STORAGE
*********************/
.storage-no-image{
    padding: $pad*2;
}


/*********************
TICKETS
*********************/
.ticket-open{
    border-right: 3px solid $light-blue;
    border-bottom: 0 none;
}
.ticket-closed{
    border-right: 3px solid $light-blue;
    border-bottom: 0 none;
}
.column-middle{
    @include flex-wrap(nowrap);
    @include align-items(center);
}



