/* Media Queries - @begin */

// Viewports

// iphone lt 6
// @media only screen and ( max-width: 320px ) {
//     @import "viewports/320";
// }

// generic mobile portrait down (iphone6 down)
// @media only screen and ( max-width: 375px ) {
//     @import "viewports/375down";
// }

// larger mobiles
@media only screen and ( max-width: 767px ) {
    @import "viewports/767down";
}

// ipad portrait
@media only screen and ( min-width: 768px ) {
    @import "viewports/768up";
}

// generic smaller tablets
// @media only screen and ( max-width: 800px ) {
//     @import "viewports/800down";
// }
// @media only screen and ( max-width: 960px ) {
//     @import "viewports/960down";
// }

// ipad landscape
@media only screen and ( min-width: 1023px ) {
    @import "viewports/1024down";
}

// desktops
@media only screen and (min-width: 1030px) {
    @import "viewports/1030up";
}

// big screen
@media only screen and (min-width: 1240px) {
    @import "viewports/1240up";
}

// retina - for images
// @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
//        only screen and (min--moz-device-pixel-ratio: 1.5),
//        only screen and (min-device-pixel-ratio: 1.5) {
//     @import "viewports/2x";
// }

// print styles
// @media print {
//     @import "viewports/print";
// }

/* Media Queries - @end */
