// variables



// COLORS
$white       : #fff;
$black       : #000;

$blue        : #143F64;
$light-blue  : #A3D4FF;
$light-blue2 : #D3E9FC;
$red         : #ED1846;

$error-bg    : #f9b9c7;

$dark-grey   : #4A4A4A;
$light-grey  : #E9EAEB;
$light-grey2 :  #D8D8D8;


$text-color       : $dark-grey;


// fonts (from bourbon font-stack)
$sans  : $helvetica;
$serif : $georgia;
$mono  : $monospace;
$icon  : 'FontAwesome';


$lato  : 'Lato', $sans;


// font sizes
// NOTE:
// html has font-size: 62.5% so 1rem = 10px
$base-font-size   : 1.6rem;
$mobile-font-size : 1.2rem;


// font modifiers
$thin : 100;
$light: 300;
$roman: 400;
$semi : 500;
$demi : 600;
$bold : 700;


// sizes
$pad-module  : 10px;
$pad         : $pad-module;
$icon-height : $base-font-size;
$icon-width  : $base-font-size;













