/* Icons - @begin */

.icon {
    position: relative;
    display: inline-block;
    //height: 1em;
    //width: 1.1em;
    vertical-align: text-bottom;
    overflow: hidden;
    text-align: center;

    &:before {
        content: "";
        display: inline-block;
        text-align: center;
        font-family: $icon;
        width: 1em;
    }

    &.icon-before {
        width: auto;
        padding-left: 1.2em;
        text-align: left;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &.icon-after {
        width: auto;
        padding-right: 1.2em;
        text-align: right;

        &:before {
            position: absolute;
            top: 0;
            left: auto;
            right: 0;
        }
    }
}
.icon-label {
    display: inherit;

    .icon:not(.icon-before):not(.icon-after) & {
        @include hide-text;
    }
}

// put all icons in this list
$icons: (
    menu: "\f0c9",
    search: "\f002",
    notification: "\f0a2",
    close: "\f00d",
    sidebar: "\f0ac",
    like: "\f004",
    share: "\f045",
    comment: "\f0e5",
    star: "\f005",
    facebook: "\f09a",
    mail: "\f003",
);
// all: "\f0ac",
// vision: "\f0ac",
// taste: "\f0ac",
// sound: "\f0ac",

@each $name, $gliph in $icons {
    .icon-#{$name}:before {
        content: "#{$gliph}";
    }
}
/* Icons - @end */
