/* Authentication - @begin */

.header-image-small img{
	max-height: 150px;
}
.auth-box{
	padding: $pad*3 $pad*2;
}
input.auth-pass{
	margin-bottom: 3px;
}
.auth-forgot{
	font-size: 1.2rem;
}

.checkbox-text{
	width: 80%;
	font-size: 1.2rem;
	line-height: 1.4rem;
	padding-left: $pad;
}

.error-box{
	background-color: $error-bg;
	color: $red;
	padding: $pad*2;
	@include border-radius($pad*0.5);
}

/* Authentication - @end */
