/* Base - @begin */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
HEADER STYLES
*********************/
// see partials/header
@import "../partials/header";

/*********************
NAVIGATION STYLES
*********************/
// see partials/navigations
@import "../partials/navigations";

/*********************
PAGE & CONTENT STYLES
*********************/
// see partials/pages
@import "../partials/pages";

@import "homepage";
@import "authentication";
@import "static";
@import "storage";
@import "personal-shopper";
@import "ticket";





/*********************
PAGE NAVI STYLES
*********************/
// see partials/pagination
@import "../partials/pagination";


/*********************
SIDEBARS & ASIDES
*********************/
// see partials/sidebars
@import "../partials/sidebars";

/*********************
FOOTER STYLES
*********************/
// see partials/footer
@import "../partials/footer";

/* Base - @end */
