/* Homepage - @begin */

.home-video iframe{
	height: 200px;
}
.home-plus-img img{
	max-width: 125px;
}
.home-plus-text p{
	padding-bottom: $pad;
}
.home-contacts-img img{
	max-height: 85px;
}


/* Homepage - @end */
