/* PERSONAL SHOPPER - @begin */

.personal-shopper-product{
	background: $light-blue;
	@include border-radius($pad*0.5);
	padding: $pad;
	margin-bottom: $pad*3;
}

.personal-shopper-more-prd{
	color: $red;
	font-weight: bold;
	span{
		color: $white;
		font-size: 2rem;
		display: inline-block;
		background-color: $red;
		padding: $pad*0.5 $pad*1.2;
		@include border-radius($pad*2);
		margin-right: $pad*0.5;
	}
	&:hover{
		color: $blue;
		span{
			background-color: $blue;			
		}
	}
}


/* PERSONAL SHOPPER - @end */
