/* STATIC PAGES - @begin */

/* EXPLANATION  */
.expl_img img{
	display: block;
	max-width: 110px;
	margin: 0 auto;
	padding-bottom: $pad*2;
}

/* WHY  */
.why_img img{
	display: block;
	max-height: 130px;
	margin: 0 auto;
	padding-bottom: $pad*2;
}
.why-blu-box{
	background: $light-blue;
	@include border-radius($pad*0.5);
	padding: $pad;
}
.why-text{
    padding-bottom: $pad;
}
.risparmio-list li{
	padding-bottom: $pad*2;
}


/* Slider WHY  */
#slides-clients-comments {
  overflow: hidden;
  position: relative;
  width: 100%;
}
#slides-clients-comments ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
#slides-clients-comments li {
  width: 100%;
  float: left;
  position: relative;
  margin: 0;
}
.arrow-right-slider-clients {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid $red;

  &:hover{
  	border-left: 20px solid $blue;
  	cursor: pointer;
  }
}
.arrow-left-slider-clients{
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  border-right:20px solid $red; 

  &:hover{
  	border-right: 20px solid $blue;
  	cursor: pointer;
  }
}



/* RATES  */
.rates-blu-box{
	background: $light-blue;
	@include border-radius($pad*0.5);
	padding: $pad*2 $pad*3;

	li{
		list-style-type: none;
	}
}
.rates-red-box{
	background: $error-bg;
	@include border-radius($pad*0.5);
	padding: $pad*2 $pad*3;

	li{
		list-style-type: none;
	}
}


/* TAX  */
.tax-blu-box{
	background: $light-blue;
	@include border-radius($pad*0.5);
	padding: $pad*2 $pad*3;
	margin-bottom: $pad*3;
}
.tax-form-field input{
	margin-bottom:2px;	
}
.tax-form-field label{
	font-size: 1.3rem;
}
input.btn-tax-rate-submit{
	margin-top: 35px;
	padding: 3px 20px 5px;
}
.tax-image{
	width: 110px;
}
.tax-cap-label{
	vertical-align: top;
	display: inline-block;
	line-height: 1.6rem;
}

/* CONTACTS  */
.contacts-img{
	width: 100px;
}

/* SUPPORT  */
.track-img{
	width: 130px;
}

/* SUPPORT  */
.suport-box{
	border: 3px solid $blue;
	padding: $pad*2 $pad*3;
}
.supp-img{
	height: 100px;
	text-align: center;
	margin-bottom: $pad*6;
}


/* STATIC PAGES - @end */
