/* STORAGE - @begin */
.storage-profile-img{
	position: relative;
	display: block;
	
	img{
		border: 4px solid $red;
		&:hover{
			opacity: 0.8;
		}
	}
	.profile-messages{
		position: absolute;
		display: inline-block;
		top: -10px;
		right: -10px;
		color: $white;
		border: 2px solid $light-grey;
		background: $light-grey;
		padding: 2px 10px;
		@include border-radius($pad*1.7);
		z-index: 10;	
	}
	.profile-messages-active{
		background: $red;
		border: 2px solid $blue;
		color: $white;

		&:hover{
			background: $light-grey;
		}
	}
}

.edit-profile{
	img{
		width: 20px;
	}
}
.profile-image-upload img{
	max-width: 150px;
}

.storage-menu{
	text-align: center;
	a{
		display: block;
		border: 4px solid $white;
		padding: 30px 0 20px;
		@include border-radius($pad*10);

		&:hover{
			border: 4px solid $red;
		}
	}
	img{
		max-height: 50px;
	}
	.storage-current-block{
		border: 4px solid $red;
	}
}

.storage-user-profile-infos{
	font-size: 1.3rem;
	border-right: 3px solid $red;
	padding-right: 10px;
	padding-bottom: 50px;
}



.storage-orders{
	border-top: 4px solid $light-blue;
	border-left: 4px solid $light-blue;
	border-right: 4px solid $light-blue;
}
.storage-order-container{
	display: none;
	border-bottom: 4px solid $light-blue;
}
.storage-order-short{
	background: $light-blue2 url('../images/storage/arrow-up.png') no-repeat center right 10px;
	background-size: 15px;
	border-bottom: 4px solid $light-blue;
	padding: $pad;
	&:hover{
		cursor: pointer;
	}
}
.storage-order-short-open{
	background: $light-blue2 url('../images/storage/arrow-down.png') no-repeat center right 10px;
	background-size: 15px;
}
.storage-order-detail{
	border-bottom: 4px solid $light-blue;
	padding: $pad;
	&:last-child{border-bottom: 0 none;}
}

.storage-no-image{
	border: 2px dashed $blue;
	display: block;
	padding: $pad;
}

.storage-pack-alert{
	position: relative;
}
.storage-pack-alert:after{
	background: url('../images/storage/alert.png') no-repeat right bottom;
	background-size: 20px;
	z-index: 10;
	content: '';
	position: absolute;
	bottom: 0; 
	right: 0;
	width: 30px;
	height: 30px;
}

#sendOptions{
	display: none;
}

.storage-item-gallery{
	display: none;
}

.storage-message{
	background: $light-blue2;
	padding: $pad $pad*2;
	@include border-radius($pad);
	position: relative;
	margin-bottom: $pad*3;
}
.storage-message-close{
	background: $blue;
	color: $white;
	padding:2px 8px;
	@include border-radius($pad*1.4);
	text-decoration: none;
	font-weight: bold;
	position: absolute;
	top: -$pad;
	left: -$pad;

	&:hover{
		background: $red;
		color: $white;
	}
}


/* STORAGE - @end */
