/* TICKET - @begin */

.ticket-collapsed{
    border: 3px solid $light-blue;
}
.ticket-open{
	background-color: $light-blue2;
	border-bottom: 3px solid $light-blue;
}
.ticket-closed{
	background-color: $light-grey;
	border-bottom: 3px solid $light-blue;
}
.ticket-reference{
	text-transform: uppercase;
	font-size: 1.2rem;
	line-height: 1.8rem;
	padding: $pad 0;
}
.ticket-shipping{
	background-image: url('../images/explanation/supp1.png');
	background-size: 40px;
	background-repeat: no-repeat;
	background-position: left 10px center;
	padding-left: $pad*6;
}
.ticket-pacco{
	background-image: url('../images/explanation/supp2.png');
	background-size: 40px;
	background-repeat: no-repeat;
	background-position: left 10px center;
	padding-left: $pad*6;
}

.ticket-alert{
	display: inline-block;
	background-color: $red;
	padding: $pad*0.5 $pad*1.4;
	@include border-radius($pad*1.7);
	color: $white;
	font-weight: bold;
}

.ticket-ok{
	display: inline-block;
	background: $light-blue url('../images/check.png') no-repeat center;
	background-size: 15px;
	padding: $pad*1.7 $pad*1.7;
	@include border-radius($pad*1.7);
	color: $white;
	font-weight: bold;
}





.ticket-head{
	background-color: $light-blue2;
	border: 3px solid $light-blue;
}
.ticket-first{
	border-left: 3px solid $light-blue;
	border-right: 3px solid $light-blue;
	border-bottom: 3px solid $light-blue;
	padding: $pad;
}
.ticket-user{
	color: $red;
	font-weight: bold;
	font-style: italic;
}
.ticket-date{
	font-size: 1.2rem;
	padding-bottom: $pad*2;
}

.ticket-answer{
	border: 3px solid $red;
	margin: $pad 0;
	padding: $pad;
}

.ticket-answer-form{
	background-color: $light-blue;
	@include border-radius($pad);
	padding: $pad;
	margin-top: $pad*3;
}

















/* TICKET - @end */
