/* Forms - @begin */

// @include normalize-form();

input[type='text'], input[type='email'], input[type='tel'], input[type='url'], input[type='search'], input[type='submit'], textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.red-button-like{
	display: inline-block;
	border: 3px solid $blue;
	background-color: $red;
	color: $white;
	padding: $pad*0.5 $pad*2 $pad*0.7;
	text-decoration: none;
	font-weight: bold;

	&:visited, &:focus{
		color: $white !important;
	}
	&:hover{
		color: $white !important;
		text-decoration: none;
		border: 3px solid $red;
		background-color: $blue;
	}
	
}


input[type='text'], input[type='email'], input[type='password'], input[type='date']{
	border: 3px solid $blue;
	padding: 7px 5px;
	width: 100%;
	margin-bottom: $pad*1.5;
	font-size: 1.2rem;
}

select{
    width:100%;
    padding: 5px 10px;
    border:3px solid $blue !important;
    margin-bottom: $pad*1.5;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    -webkit-border-radius: 0;
    height: 35px;
    background: $white url('../images/storage/arrow-down.png') no-repeat center right $pad;
    background-size:15px;
}

textarea{
	border: 3px solid $blue;
	padding: 7px 5px;
	width: 100%;
	margin-bottom: $pad*1.5;
	font-size: 1.2rem;
	font-style: italic;
	font-family: $lato;
}

input[type='submit']{
	border: 3px solid $blue;
	background-color: $red;
	color: $white;
	padding: $pad*0.5 $pad*2 $pad*0.7;
	text-decoration: none;
	font-size: 1.6rem;
	font-weight: bold;

	&:hover{
		color: $white;
		cursor: pointer;
		border: 3px solid $red;
		background-color: $blue;
	}
}



.s2k-required{
	background: $white url('../images/required.png') no-repeat center right $pad;
	background-size: 15px;
}


//CUSTOM CHECKBOX
.s2k-input-checkbox{
  visibility: hidden;/* <-- hide the default checkbox, the rest is to hide and alllow tabbing, which display:none prevents */
  display:block;
  height:0;
  width:0;
  position:absolute;
  overflow:hidden;
}
.s2k-input-checkbox-style{/* <-- style the artificial checkbox */
  height: $pad*2.5;
  width: $pad*2.5;
  border: 3px solid $blue;
  background: $white;
  display: inline-block;
  cursor: pointer;
}
[type=checkbox]:checked + span{/* <-- style its checked state */
  background: $light-blue url('../images/check.png') no-repeat center;
  background-size: 15px;
}
[type=checkbox]:disabled + span{/* <-- style its checked state */
  background: $light-grey;
  cursor:auto;
} 









/* Forms - @end */
